/*Google Fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

/* General wildcard selector to override default styles added by the browser */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS variables */
:root {
    --primary-font: "Roboto Serif", "Montserrat", sans-serif;
    --secondary-font: "Merriweather", sans-serif;
    --text-color: #333333; /* Dark grey */
    --primary-color: #7a9fc2; /* Light Blue*/
    --secondary-color: #5ac18e; /* Warm green*/
  }

/* General styling */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styling */
  color: var(--text-color);
  font-family: "Merriweather", sans-serif;
}

header {
  background-color: #5ac18e;
  padding: 0 1rem;
  position: fixed;
  z-index: 99; /* Higher z-index ensures it remians above any other element when scrolling/ also with a z-index value*/
  width: 100%;
  box-shadow: 0 2px 2px darkolivegreen;
}

h1 {
  font-family: "Montserrat", sans-serif;

}

main {
  background-color: #ffffff;
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
}

footer {
  background-color: #5ac18e;
}
